.page.theme_dark {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --decor-color: #FF0070;
  --title-decor-bg: #FF0070;
  --title-decor-text: #000028;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --button-focus-border: #FF0070;
  --link-shadow: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.theme_dark .header__rec {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --decor-color: #FF0070;
    --title-decor-bg: #FF0070;
    --title-decor-text: #000028;
    --button-hover-border: rgba(255, 0, 112, 0.4);
    --button-focus-border: #FF0070;
    --link-shadow: #FF0070;
    --bg-image: url("../images/cover-image-dark.png");
  }

  .header__rec {
    display: flex;
  }
}
