.page.theme_dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --decor-color: #ff0070;
  --title-decor-bg: #ff0070;
  --title-decor-text: #000028;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --button-focus-border: #ff0070;
  --link-shadow: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.theme_dark .header__rec {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --decor-color: #ff0070;
    --title-decor-bg: #ff0070;
    --title-decor-text: #000028;
    --button-hover-border: rgba(255, 0, 112, 0.4);
    --button-focus-border: #ff0070;
    --link-shadow: #ff0070;
    --bg-image: url("../images/cover-image-dark.png");
  }

  .header__rec {
    display: flex;
    margin-right: -19px;
    margin-top: 2px;
  }
}
